* {
  box-sizing: border-box;
  font-family: "Segoe-UI";
  outline: none;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
  &:active,
  &:focus {
    outline: 0;
  }
}

html,
body {
  height: 100%;
  background: #fff;
  color: #000;
  // overflow-x: hidden;
}

body {
  min-height: 100%;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}

body,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
